<div class="dash-wrapper">
  <h1 class="page-header">Welcome, {{firstName}}.</h1>

  {{#listFound}}
  <p>Select from below to view and edit your lists. Or you can create a new list.</p>
  {{/listFound}}

  {{^listFound}}
  <p>Create a new list to get started.</p>
  {{/listFound}}
  <ol id="list-of-lists">
    {{# each lists}}
      <li>
        <div class="list-card">
            <h1>{{this.listName}}</h1>
            <form action="/lists" method="post">
                <input class="none" type="text" name="listID" value="{{this._id}}">
                <button type="submit" value="hello">View/Edit List</button>
            </form>
        </div>
      </li>
    {{/ each}}
  </ol>

  <form class="new-list-form" action="/lists/new-list" method="post">
      <button id="new-list-button" type="submit" value="hello">Create New List</button>
  </form>

</div>
