<div class="movie-wrapper">

<input class='none list-id' type="text" value="{{listID}}">
<input class="list-title" id="list-title" maxlength="30" name="list-title" type="text" value="{{listNameArray.[0]}}">

<ol id="movies">
    {{# each movie}}
        <li>
            <div class="card">
                <span class="helper"></span><img class="poster" src="{{[0].poster}}" alt="">
                <h1 class="movie-title">{{[0].title}}</h1>
                <ul class="tech-info">
                    <li>{{[0].rated}} •</li>
                    <li>{{[0].year}} •</li>
                    <li>{{[0].runtime}}</li>
                </ul>
                <div class="reviews">
                    <img class="tomatoes" src="http://www.abryant.co/movie_images/tomato.png" alt=""><span>{{[0].rotten}}</span>
                    <img class="imdb" src="http://www.abryant.co/movie_images/star.png" alt=""><span>{{[0].imdb}}</span>
                </div>
                <div class="plot">
                    <p>{{[0].plot}}</p>
                </div>
                <div class="actors">
                    <p>{{[0].actors}}</p>
                </div>
                <div class="director">
                    <p><span class="director-label">Director:</span> {{[0].director}}</p>
                </div>
                <span class="svg-color delete" data-value="{{[0].id}}"><svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg></span>
            </div>
        </li>
    {{/ each}}
</ol>
    <form id="input-form" class="input-form">
        <input type="text" class="add-movie" name="imdb-url" placeholder="Paste IMDB url here to add movie">
        <button class="add-movie-button">Add Movie</button>
    </form>

    <form id="exit-list" class="exit-list">
        <button class="button-link back-button">Back to Dashboard</button>
    </form>
</div>
