* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #e4e4e4;
}

.app-title {
  color: #666;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin: .5rem 0 1rem 0;
}

.app-description {
  color: #bbb;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  margin: 0 0 2rem 0;
}

.login-form {
  width: 350px;
  padding: 40px 30px;
  background: white;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.register-form p {
  float: left;
  display: inline;
  color: #666;
  margin: 1rem 0 0 0;
}

.register-form {
  width: 350px;
  padding: 40px 30px;
  background: white;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login-form p {
  float: left;
  display: inline;
  color: #666;
  margin: 1rem 0 0 0;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #e4e4e4;
  color: #666;
  border-radius: 2px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

form {
  text-align: center;
  display: inline;
}

.remove-list {
  background-color: #FF5733;
}

button {
  outline: none;
  border: none;
  background-color: #00B270;
  border-radius: 2px;
  padding: .5rem;
  color: white;
}

.logout-form {
  position: relative;
  display: inline;
}

.logout-button {
  background-color: #FF5733;
}

.svg {
  fill: #FF5733;
  position: relative;
  right: 0rem;
  top: 1.5rem;
  display: inline;
}

.add-movie {
  padding: .5rem;
  font-size: 1rem;
  border: none;
  width: 50%;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.add-movie-button {
    font-size: 1rem;
}

.exit-list {
  float: right;
  margin-top: 1rem;
}

.back-button {
  font-size: 1rem;
  background-color: #FF5733;
}



.new-list-button {
  width: 200px;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.log-btn {
  background: #FF5733;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #bbb;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}

.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  display: block;
  font-size: 12px;
  color: #f00;
  float: left;
}

.register-description {
  color: #bbb;
  text-align: center;
  font-size: 1rem;
  margin: 0 0 2rem 0;
  font-weight: 400;
}

.info-description {
  color: #bbb;
  text-align: center;
  font-size: .7rem;
  font-weight: 400;
  margin: 1rem 0;
}

.free {
  font-weight: 500;
  font-style: normal;
  color: #666;
}

.none {
  display: none;
}

#list-of-lists {
  list-style-type: none;
}

ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.dash-wrapper {
  width: 50%;
  margin: 3rem auto 0;

}

.movie-wrapper {
  width: 75%;
  margin: auto;
  margin-top: 3rem;
}

.page-header {
  margin-bottom: .3rem;
  color: #666;
}

.subheader {
  color: #999;
}

#movies {
  list-style-type: none;
  padding: 0;
}

.list-title {
  background-color: #e4e4e4;
  border: none;
  font-size: 2rem;
  color: #666;
  font-family: 'Roboto', sans-serif;
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: .5rem 2rem;
  display: block;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto 0;
  background-color: white;
}

.list-card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: block;
  min-width: 320px;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0 0 0;
  background-color: white;
  text-align: center;
}

.list-card-title {
  margin: 0 0 .5rem 0;
}

.movie-title {
  margin-bottom: 0;
  color: black;
  text-align: left;
}

.tech-info {
  padding: 0;
  margin-top: .5rem;
}
.tech-info li {
  color: grey;
  display: inline;
  text-align: left;
}

.reviews {
  position: relative;
  margin: 1rem 0;
}

.tomatoes, .imdb {
  width: 40px;
}

.imdb {
  margin-left: 7px;
}

.reviews span {
  position: relative;
  top: -10px;
  margin-left: 4px;
}

.plot {
  max-width: 75%;
}

.actors {
  font-weight: 700;
}

.director-label {
  font-weight: 700;
}

.poster {
  position: relative;
  margin: auto;
  height: 245px;
  top: 20px;
  vertical-align: middle;
  float: right;
}

.delete {
  position: relative;
  float: right;
  top: -45px;
  right: -27px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0px 9999px white,
}

@media only screen and (max-width: 900px) {
  .poster {
    height: 170px;
  }
}

@media only screen and (max-width: 620px) {
  .poster {
    height: 120px;
  }
  .plot {
    max-width: 90%;
  }
}

@media only screen
  and (min-device-width: 275px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .login-form {
    width: 80%;
    height: 850px;
    position: absolute;
  }

  .app-title {
    font-size: 7rem;
  }

  .app-description {
    font-size: 2.5rem;
  }

  .form-control, .log-btn {
    font-size: 2.5rem;
    height: 7rem;
    margin: 1rem 0;
  }

  .link {
    font-size: 2.5rem;
  }

  .register-form {
    height: 1200px;
    width: 80%;
  }

  .register-description {
    font-size: 2.5rem;
  }

  .info-description {
    font-size: 2rem;
  }

  .dash-wrapper {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .page-header {
      font-size: 6rem;
  }

  .logout-button {
      font-size: 2.5rem;
  }

  .subheader {
      font-size: 2rem;
  }

  .list-card {
      height: 200px;
  }

  .list-card-title {
      font-size: 3.5rem;
      margin-bottom: 1rem;
  }

  .edit-list, .remove-list {
      font-size: 2.5rem;
  }

  .new-list-button {
      font-size: 2.5rem;
      width: 100%;
      height: 100px;
  }

  .movie-wrapper {
      width: 90%;
  }

  .list-title {
      font-size: 5rem;
  }

  .exit-list {
      float: none;
      display: block;
      margin-top: 3rem;
  }

  .back-button {
      padding: .5rem;
      font-size: 2.5rem;
      width: 100%;
      padding: 1rem;
  }

  .card {
      margin: 2rem 0;
  }

  .card p {
      font-size: .7rem;
      margin: 1.5rem 0
  }

  .input-form {
      text-align: center;
      margin: auto;
  }

  .add-movie {
      width: 78%;
      font-size: 2rem;
      height: 5rem;
  }

  .add-movie-button {
      margin-top: 1rem;
      font-size: 2rem;
      height: 5rem;
      float: right;
      padding: 1rem;
  }

}
