* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #e4e4e4;
}

.splash-page, .register-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: url("images/1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-form {
  height: 375px;
  width: 750px;
  padding: 30px 30px;
  background: white;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.app-title {
  color: #666;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  margin: 0;
}

.app-slogan {
  color: #999;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  font-size: .8rem;
  margin: 0 0 1rem 0;
}

.app-description {
  color: #999;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  margin: 2.5rem auto;
  width: 90%;
}

.register-link {
  text-align: center;
}

.register-link2 {
  display: none;
}

.login-par {
  margin: 1rem auto;
  color: #666;
  font-size: .8rem;
}

.app-description li {
  margin: 0 0 1rem .5rem;
}

.splash-info {
  width: 300px;
  border-radius: 2px;
  text-align: center;
  float: left;
  display: inline;
}

.login-form {
  width: 300px;
  border-radius: 2px;
  text-align: center;
  float: right;
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.line {
  border: .5px lightgrey dashed;
  height: 70%;
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.line2 {
  display: none;
}

.register-form p {
  float: left;
  display: inline;
  color: #666;
  margin: 1rem 0 0 0;
}

.register-form {
  width: 350px;
  padding: 40px 30px;
  background: white;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #f1f1f1;
  color: #666;
  border-radius: 2px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

form {
  text-align: center;
  display: inline;
}

.remove-list {
  background-color: #FF5733;
}

button {
  outline: none;
  border: none;
  background-color: #00B270;
  border-radius: 2px;
  padding: .5rem;
  color: white;
}

.logout-form {
  position: relative;
  display: inline;
}

.logout-button {
  background-color: #FF5733;
}

.svg {
  fill: #FF5733;
  position: relative;
  right: 0rem;
  top: 1.5rem;
  display: inline;
}

.add-movie {
  padding: .5rem;
  font-size: 1rem;
  border: none;
  width: 50%;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.add-movie-button {
    font-size: 1rem;
}

.exit-list {
  float: right;
  margin-top: 1rem;
}

.back-button {
  font-size: 1rem;
  background-color: #FF5733;
}

.new-list-button {
  width: 200px;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.log-btn {
  background: #FF5733;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin-top: 1.3rem;
}

.link {
  text-decoration: none;
  color: #FF5733;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
  color: #666;
}

.alert {
  display: inline;
  font-size: 12px;
  color: #FF5733;
  text-align: center;
}

.register-description {
  color: #bbb;
  text-align: center;
  font-size: 1rem;
  margin: 0 0 2rem 0;
  font-weight: 400;
}

.info-description {
  color: #bbb;
  text-align: center;
  font-size: .7rem;
  font-weight: 400;
  margin: 1rem 0;
}

.free {
  font-weight: 500;
  font-style: normal;
  color: #666;
}

.none {
  display: none;
}

#list-of-lists {
  list-style-type: none;
}

ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.dash-wrapper {
  width: 50%;
  margin: 3rem auto 0;

}

.movie-wrapper {
  width: 75%;
  margin: auto;
  margin-top: 3rem;
}

.page-header {
  margin-bottom: .3rem;
  color: #666;
}

.subheader {
  color: #999;
}

#movies {
  list-style-type: none;
  padding: 0;
}

.list-title {
  background-color: #e4e4e4;
  border: none;
  font-size: 2rem;
  color: #666;
  font-family: 'Roboto', sans-serif;
  width: 500px;
}

.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: .5rem 2rem;
  display: block;
  min-width: 320px;
  width: 100%;
  margin: 1rem auto 0;
  background-color: white;
}

.list-card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: block;
  min-width: 320px;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0 0 0;
  background-color: white;
  text-align: center;
}

.list-card-title {
  margin: 0 0 .5rem 0;
}

.movie-title {
  margin-bottom: 0;
  color: black;
  text-align: left;
}

.tech-info {
  padding: 0;
  margin-top: .5rem;
}
.tech-info li {
  color: grey;
  display: inline;
  text-align: left;
}

.reviews {
  position: relative;
  margin: 1rem 0;
}

.tomatoes, .imdb {
  width: 40px;
}

.imdb {
  margin-left: 7px;
}

.reviews span {
  position: relative;
  top: -10px;
  margin-left: 4px;
}

.plot {
  max-width: 75%;
}

.actors {
  font-weight: 700;
}

.director-label {
  font-weight: 700;
}

.poster {
  position: relative;
  margin: auto;
  height: 225px;
  top: 20px;
  vertical-align: middle;
  float: right;
}

.delete {
  position: relative;
  float: right;
  top: -45px;
  right: -27px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0px 9999px white,
}

@media only screen and (max-width: 900px) {
  .poster {
    height: 170px;
  }
}

@media only screen and (max-width: 620px) {
  .poster {
    height: 120px;
  }
  .plot {
    max-width: 90%;
  }
}

@media (max-width: 800px) {

    .splash-form {
      height: 685px;
      width: 55%;
      min-width: 375px;
    }

    .app-title {
      text-align: center;
      margin: auto;
      margin-bottom: 0;
      font-size: 3rem ;
    }

    .app-description li {
      margin: 0 .5rem 1rem .5rem;
    }

    .splash-info {
      margin: auto;
      float: none;
      width: 90%;
      display: block;
    }

    .app-description {
      font-size: 1rem;
      margin: 2rem auto 3rem;
      width: 90%;
    }

    .app-slogan {
      font-size: .8em;
    }

    .line {
      display: none;
    }

    .line2 {
      border: .5px lightgrey dashed;
      width: 70%;
      margin: auto;
      display: block;
    }

    .login-form {
      width: 90%;
      float: none;
      display: block;
      position: relative;
      margin: auto;
      top: 160px;
    }

    .register-link2 {
      display: block;
    }

    .link {
      font-size: 1rem;
    }

    .login-par {
      font-size: 1rem;
    }

    .form-control, .log-btn {
      font-size: 1rem;
      height: 3rem;
      margin: 0;
      width: 90%;
    }

    .log-btn {
      margin-bottom: 2rem;
    }

    .register-link {
      display: none;
    }

    .register-link2 {
      margin: 0;
      font-size: 1rem;
    }

    .register-form {
      height: 1280px;
      width: 80%;
      padding: 60px;
    }

    .register-description {
      font-size: 2.5rem;
    }

    .info-description {
      font-size: 2rem;
    }

    .dash-wrapper {
      width: 90%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .page-header {
        font-size: 6rem;
    }

    .logout-button {
        font-size: 2.5rem;
    }

    .subheader {
        font-size: 2rem;
    }

    .list-card {
        height: 200px;
    }

    .list-card-title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .edit-list, .remove-list {
        font-size: 2.5rem;
    }

    .new-list-button {
        font-size: 2.5rem;
        width: 100%;
        height: 100px;
    }

    .movie-wrapper {
        width: 90%;
    }

    .list-title {
        font-size: 5rem;
        width: 500px;
    }

    .exit-list {
        float: none;
        display: block;
        margin-top: 3rem;
    }

    .back-button {
        padding: .5rem;
        font-size: 2.5rem;
        width: 100%;
        padding: 1rem;
    }

    .card {
        margin: 2rem 0;
    }

    .card p {
        font-size: .7rem;
        margin: 1.5rem 0
    }

    .input-form {
        text-align: center;
        margin: auto;
    }

    .add-movie {
        width: 78%;
        font-size: 2rem;
        height: 5rem;
    }

    .add-movie-button {
        margin-top: 1rem;
        font-size: 2rem;
        height: 5rem;
        float: right;
        padding: 1rem;
    }
}

@media only screen
  and (min-device-width: 275px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .splash-form {
    height: 80%;
    margin-bottom: 5rem;
    padding-top: 6rem;
  }

  .app-title {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
  }

  .splash-info {
    margin: auto;
    float: none;
    width: 90%;
    display: block;
  }

  .app-description {
    font-size: 2rem;
    margin-bottom: 4rem;
    width: 80%;
  }

  .app-slogan {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .line {
    display: none;
  }

  .line2 {
    border: .5px lightgrey dashed;
    width: 70%;
    margin: auto;
    display: block;
  }

  .login-form {
    width: 90%;
    float: none;
    display: block;
    position: relative;
    margin: auto;
    top: 350px;
  }

  .login-par {
    font-size: 2rem;
  }
  .app-title {
    font-size: 7rem;
  }

  .form-control, .log-btn {
    font-size: 2.5rem;
    height: 7rem;
    margin: 1rem 0;
  }

  .log-btn {
    margin-bottom: 4rem;
  }

  .link {
    font-size: 2rem;
  }

  .register-link {
    display: none;
  }

  .register-link2 {
    display: block;
    margin: 0;
    font-size: 1rem;
  }

  .register-form {
    height: 1280px;
    width: 80%;
    padding: 60px;
  }

  .register-description {
    font-size: 2.5rem;
  }

  .info-description {
    font-size: 2rem;
  }

  .dash-wrapper {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .page-header {
      font-size: 6rem;
  }

  .logout-button {
      font-size: 2.5rem;
  }

  .subheader {
      font-size: 2rem;
  }

  .list-card {
      height: 200px;
  }

  .list-card-title {
      font-size: 3.5rem;
      margin-bottom: 1rem;
  }

  .edit-list, .remove-list {
      font-size: 2.5rem;
  }

  .new-list-button {
      font-size: 2.5rem;
      width: 100%;
      height: 100px;
  }

  .movie-wrapper {
      width: 90%;
  }

  .list-title {
      font-size: 5rem;
      width: 500px;
  }

  .exit-list {
      float: none;
      display: block;
      margin-top: 3rem;
  }

  .back-button {
      padding: .5rem;
      font-size: 2.5rem;
      width: 100%;
      padding: 1rem;
  }

  .card {
      margin: 2rem 0;
  }

  .card p {
      font-size: .7rem;
      margin: 1.5rem 0
  }

  .input-form {
      text-align: center;
      margin: auto;
  }

  .add-movie {
      width: 78%;
      font-size: 2rem;
      height: 5rem;
  }

  .add-movie-button {
      margin-top: 1rem;
      font-size: 2rem;
      height: 5rem;
      float: right;
      padding: 1rem;
  }

  .alert {
    font-size: 1.5rem;
  }

}

@media only screen
  and (min-device-width: 275px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .splash-form {
    height: 450px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .register-page {
    height: 900px;
  }

  .login-form {
    width: 40%;
  }

  .splash-info {
    width: 40%;
  }

  .app-title {
    font-size: 2.5rem;
  }

  .app-description {
    font-size: 1.2rem;
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .form-control, .log-btn {
    font-size: 1.3rem;
    height: 4rem;
  }

  .login-par {
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 2rem;
  }

  .register-link {
    margin: 0;
    font-size: 1rem;
  }

  .register-link2 {
    display: none;
  }

  .register-description {
    font-size: 1.5rem;
  }

  .register-form {
    width: 60%;
    padding: 40px 30px;
    background: white;
    border-radius: 2px;
    margin: auto;
    height: 800px;
    position: relative;
    left: 0;
    right: 0;
    top: 5%;
    transform: translateY(0%);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .info-description {
    font-size: 1rem;
  }

  .dash-wrapper {
    width: 90%;
  }

  .page-header {
      font-size: 3rem;
  }

  .logout-button {
      font-size: 1rem;
  }

  .subheader {
      font-size: 1.5rem;
  }

  .list-card {
      height: 110px;
  }

  .list-card-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
  }

  .edit-list, .remove-list {
      font-size: 1rem;
  }

  .new-list-button {
      font-size: 1.5rem;
      width: 100%;
  }

  .movie-wrapper {
      width: 90%;
  }

  .list-title {
      font-size: 3rem;
  }

  .exit-list {
      float: none;
      display: block;
      margin-top: 1rem;
  }

  .back-button {
      padding: .5rem;
      font-size: 1.5rem;
      width: 100%;
      padding: 1rem;
  }

  .card {
      margin: 1.5rem 0;
  }

  .card p {
      font-size: .8rem;
      margin: 1.5rem 0
  }

  .input-form {
      text-align: center;
      margin: auto;
  }

  .add-movie {
      width: 78%;
      font-size: 2rem;
      height: 4rem;
  }

  .add-movie-button {
      margin-top: 1rem;
      font-size: 2rem;
      height: 4rem;
      float: right;
      padding: 1rem;
  }

  .line2 {
    display: none;
  }
}
